<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2" id="features">{{.intro.heading}}</h2>
    <p class="mb4 mw6">{{.intro.text}}</p>

    <div class="fffffffflex-ns mhn2-ns mb3 overflow-auto">
      {{ range .products }}
      <div class="ph2-ns w-50-ns" style="float: left">
        <img src="{{.image}}" alt="" class="center db mb3" style="max-height: 190px">
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div>

    <div class="tc dn">
      <a href="/products" class="btn raise">See all products</a>
    </div>
  </div>
</div>