<!-- Contact -->
<div class="mb4">
  <!-- <h4 class="f3 b lh-title mb3 tc">Drop us a line below</h4> -->

  <form action="" netlify netlify-honeypot="second-name">
    <label class="dn">Введите вашу фамилию: <input name="second-name" type="text"></label>
    <div class="flex-l mhn1-l">
          <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" placeholder="Имя" class="w-100 mb2">
          <label for="name">Введите ваше имя</label>
        </fieldset>
      </div>
          <!-- Phone -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="tel" id="phone" placeholder="Телефон" class="w-100 mb2" required>
          <label for="phone">Введите ваш номер</label>
        </fieldset>
      </div>
    </div>

        <!-- Message -->
    <fieldset>
      <textarea name="name" placeholder="Когда нам позвонить вам?" rows="8" cols="80" id="message" class="w-100"></textarea>
      <label for="message">Сообщение</label>
    </fieldset>
        <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Отправить</button>
    </div>
  </form>
</div>
