<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white fixed w-100 z-5">

	<!-- Logo -->
	<a href="/" class="primary tc no-underline ttu fw7 pa3 db mr4 flex-none" new-class="link dim black b f6 f5-ns dib mr3">
		<!-- <img src="/img/logo.svg" alt="Kaldi logo" /> -->
		Маленькая Шотландия</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li>
			<a href="#homes" class="pa3 no-underline db">Дома</a>
		</li>

		<li>
			<a href="#features" class="pa3 no-underline db">Преимущества</a>
		</li>

		<li>
			<a href="#tech" class="pa3 no-underline db">Технологии</a>
		</li>

		<li>
			<a href="tel:+7-999-999-99-99" class="pa3 no-underline db bg-primary white">+7-999-999-99-99</a>
		</li>
	</ul>

</nav>