<nav class="overflow-x-scroll overflow-x-visible-ns divider-grey flex justify-between items-center center bg-white fixed w-100 z-5">

	<!-- Logo -->
	<a href="/" class="primary tc no-underline ttu fw7 pa3 db mr4 flex-none" new-class="link dim black b f6 f5-ns dib mr3">
		<!-- <img src="/img/logo.svg" alt="Kaldi logo" /> -->
		Маленькая Шотландия</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li>
			<a href="/#homes" class="pa3 no-underline db">Таунхаусы</a>
		</li>

		<li>
			<a href="/#features" class="pa3 no-underline db">Преимущества</a>
		</li>

		<li>
			<a href="/#location" class="pa3 no-underline db">Расположение</a>
		</li>

		<li>
			<a href="tel:+7-999-999-99-99" class="pa3 no-underline nowrap dn dn-ns db-m db-l bg-primary white">
				<svg width="22px" height="22px" class="db db-ns db-m dn-l">
					<use xlink:href="#icons-phone"></use>
				</svg>
				<span class="dn dn-ns dn-m db-l">+7-999-999-99-99</span>
				</a>
		</li>
	</ul>

</nav>